:root {
  font-family: "Roboto", sans-serif;
  --baseAlt1Color: #e3e8ed;
  --baseAlt2Color: #d7dde3;
  --baseAlt3Color: #c9d0da;
  --baseAnimationSpeed: .15s;
  --baseColor: #ffffff;
  --baseFontSize: 14.5px;
  --baseRadius: 4px;
  --baseSpacing: 30px;
  --btnHeight: 40px;
  --btnRadius: 4px;
  --bodyColor: #f8f9fa;
  --fontSizeSm: 13px;
  --hPadding: 15px;
  --inputHeight: 34px;
  --lgBtnHeight: 54px;
  --lgFontSize: 15px;
  --smWrapperWidth: 420px;
  --primaryColor: #1a1a24;
  --shadowColor: rgba(0, 0, 0, .06);
  --txtDisabledColor: #a0a6ac;
  --txtHintColor: #617079;
  --txtPrimaryColor: #1a1a24;
  --wrapperWidth: 850px;
  --xlFontSize: 1rem;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/static/Roboto-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/static/Roboto-SemiBold.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/static/Roboto-Medium.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

header, main, footer {
  background-color: var(--bodyColor);
}

.breadcrumbs {
  color: var(--txtDisabledColor);
  display: flex;
  gap: 30px;
}

.breadcrumbs .breadcrumb-item {
  position: relative;
}

.breadcrumbs .breadcrumb-item:last-of-type {
  color: var(--txtPrimaryColor);
}

.breadcrumbs .breadcrumb-item:first-of-type::after {
  content: "/";
  position: absolute;
  right: -20px;
  top: 0px;
  opacity: 0.4;
  pointer-events: none;
  text-align: center;
  width: 10px;
}

.btn {
  position: relative;
  z-index: 1;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  padding: 5px 20px;
  column-gap: 7px;
  user-select: none;
  min-width: var(--btnHeight);
  min-height: var(--btnHeight);
  text-align: center;
  text-decoration: none;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  font-size: var(--baseFontSize);
  font-family: var(--baseFontFamily);
  border-radius: var(--btnRadius);
  background: none;
  transition: color var(--baseAnimationSpeed);
} 

.btn:before {
  content: "";
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  backface-visibility: hidden;
  background: var(--primaryColor);
  transition: filter var(--baseAnimationSpeed), opacity var(--baseAnimationSpeed), transform var(--baseAnimationSpeed), background var(--baseAnimationSpeed);
}

.btn.btn-lg {
  column-gap: 10px;
  font-size: var(--lgFontSize);
  min-height: var(--lgBtnHeight);
  min-width: var(--lgBtnHeight);
} 

.btn.btn-block {
  display: flex;
  width: 100%;
} 

.btn-hover-typ:hover {
  border-radius: var(--baseRadius);
  color: var(--txtPrimaryColor);
  background: var(--baseAlt1Color);
}

.control-icon {
  width: 1.5rem;
}

.form-field {
  margin-bottom: var(--baseSpacing);
}

.form-field label {
  background: var(--baseAlt1Color);
  border: 0;
  border-top-left-radius: var(--baseRadius);
  border-top-right-radius: var(--baseRadius);
  color: var(--txtHintColor);
  display: flex;
  font-weight: 600;
  font-size: var(--fontSizeSm);
  padding-top: 12px;
  padding-bottom: 3px;
  padding-left: var(--hPadding);
  padding-right: var(--hPadding);
  transition: color var(--baseAnimationSpeed), background var(--baseAnimationSpeed);
  width: 100%;
}

.form-field input {
  outline: 0;
  border: 0;
  margin: 0;
  background: var(--baseAlt1Color);;
  border-bottom-left-radius: var(--baseRadius);
  border-bottom-right-radius: var(--baseRadius);
  min-height: 34px;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-left: var(--hPadding);
  padding-right: var(--hPadding);
  transition: color var(--baseAnimationSpeed), background var(--baseAnimationSpeed);
  width: 100%;
}

.form-field input:focus {
  background: var(--baseAlt2Color);
}

.form-field:focus-within label {
  color: var(--txtPrimaryColor);
  background: var(--baseAlt2Color);
}

.stat-confirmed-svg {
  width: 2rem;
}

.table-standard {
  border-spacing: 0px;
}

.table-standard input {
  background: var(--baseColor);
  border-radius: var(--baseRadius);
  border: 2px solid var(--baseAlt3Color);
}

.table-standard input:disabled {
  background: var(--baseAlt3Color);
}

.table-standard.vertical thead {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.table-standard tr {
  background-color: var(--bodyColor);
}

.table-standard td,
.table-standard th {
  border: unset;
  border-bottom: 1px solid var(--baseAlt2Color);
  color: var(--txtHintColor);
  font-size: 1rem;
  outline: 0;
  padding: 10px;
  padding-right: 30px;
  text-align: left;
}

.table-standard td {
  font-weight: 400;
}

.table-standard td div {
  height: 56px;
}

.table-standard th {
  font-weight: 600;
  height: 50px;
}

.table-standard thead th:first-of-type {
  background-color: var(--bodyColor);
  box-shadow: 3px 0 2px 0 var(--shadowColor);
  font-weight: 600;
  left: 0;
  padding-left: 2rem;
  position: sticky;
}

.table-standard tbody td:first-of-type {
  background-color: var(--bodyColor);
  box-shadow: 3px 0 2px 0 var(--shadowColor);
  font-weight: 600;
  left: 0;
  padding-left: 2rem;
  position: sticky;
}

.tier-1-nav {
  min-width: 240px;
}

.tier-1-nav button {
  color: var(--txtHintColor);
  font-size: var(--xlFontSize);
}

.tier-1-nav button:hover {
  background-color: var(--baseAlt1Color);
  border-radius: var(--baseRadius);
  color: var(--txtPrimaryColor);
}

.wrapper {
  position: relative;
  width: var(--wrapperWidth);
  margin: 0 auto;
  max-width: 100%;
}

.wrapper.wrapper-sm {
  width: var(--smWrapperWidth);
}